@page
@model ListModel
@{

<div class=" panel panel-default">
    <div class=" panel-heading">
        <h2>Name</h2>
    </div>
    <div class=" panel panel-body">
        <span>Team: </span>
        <span>Position: </span>
    </div>
    <div class=" panel panel-footer">
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
    <div class="panel-heading">
        <h2>Name</h2>
    </div>
    <div class=" panel panel-body">
        <span>Team: </span>
        <span>Position: </span>
    </div>
    <div class=" panel panel-footer">
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>


    <div class="panel-heading">
        <h2>Name</h2>
    </div>
    <div class="panel-body">
        <span>Team: </span>
        <span>Position: </span>
    </div>
    <div class=" panel-footer">
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class=" btn btn-lg" asp-page="./Edit">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
</div>
}
