<h2>Implement Multithreading and Asynchronous Processing</h2>
<div class="table-responsive-lg">
    <table>
        <thead>
            <tr>
                <th>Topic</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Task Parallel Library</th>
                <th>
                    The Task Parallel Library (TPL) is a set of public types and APIs in the System.Threading and System.Threading.Tasks namespaces.
                    The purpose of the TPL is to make developers more productive by simplifying the process of adding parallelism and concurrency to applications.
                    The TPL scales the degree of concurrency dynamically to most efficiently use all the processors that are available.
                    In addition, the TPL handles the partitioning of the work, the scheduling of threads on the ThreadPool, cancellation support, state management, and other low-level details.
                    By using TPL, you can maximize the performance of your code while focusing on the work that your program is designed to accomplish.
                </th>
            </tr>

            <tr>
                <th scope="row">Parallel.For method</th>
                <th>...</th>
            </tr>

            <tr>
                <th scope="row">PLINQ</th>
                <th>...</th>
            </tr>
            <tr>
                <th scope="row">Tasks</th>
                <th>...</th>
            </tr>
            <tr>
                <th>create continuation tasks</th>
                <th>...</th>
            </tr>
            <tr>
                <th>ThreadPool</th>
                <th>...</th>
            </tr>
            <tr>
                <th>unblock the UI</th>
                <th>...</th>
            </tr>
            <tr>
                <th>async</th>
                <th>...</th>
            </tr>
            <tr>
                <th>await</th>
                <th>...</th>
            </tr>
            <tr>
                <th>concurrent collections</th>
                <th>...</th>
            </tr>
        </tbody>
    </table>
</div>